.div1
{
  display: flex;
  background-color:#E2C1B4;
  border-radius: 10px;
  width: 12%;
}
a
{
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
a:hover{
  background-color:#CAD164 ;
  border-radius: 10px;
}

p
{
  text-align: center;
}
